

/*body {
  background-color: green;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}*/

.main-container {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px 0 0 -135px;
}

/*img {
  float: none;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}*/
